<footer class="py-5 bg-dark" id="section6">
  <div class="container">
    <div class="row" style="color: white">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead" style="font-family: sans-serif;font-size: 0.9em">Pusat : Jalan PTP Ngobo No. XVIII KM1 Karangjati, Ungaran - Kab. Semarang 50552</p>
        <p class="lead" style="font-family: sans-serif;font-size: 0.9em">
          Pusat : (0298) 522832 ; Cabang : (0293) 5529902 Senin - Sabtu : 08.00 - 16.00 Hari Minggu dan hari libur nasional tutup.
        </p>
        <p class="lead" style="font-family: sans-serif;font-size: 0.9em">Senin - Sabtu : 08.00 - 16.00 Hari Minggu dan hari libur nasional tutup.</p>

      </div>
    </div>
    <p class="m-0 text-center text-white">Copyright &copy; Bengkel Bubut Manunggal 2018</p>
  </div>
  <!-- /.container -->
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="../../assets/animateit/js/css3-animate-it.js"></script>

<script>
  $(document).ready(function () {
    /* $('.ani1').addClass('animated fadeInLeftBig');
    $('.ani2').addClass('animated fadeInRightBig'); */
    $(window).on('scroll', function () {
      if ($(window).scrollTop()) {
        $('nav').addClass('black')
      } else {
        $('nav').removeClass('black')
      }
    });

  })



</script>
</body>

</html>