<div class="container text-center animatedParent">
  <h1 class="mb-5">
    <strong>Artikel</strong>
  </h1>
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>artikel3</h3>
          <hr>
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto mollitia exercitationem earum quasi
            a accusamus tempore voluptates doloremque debitis voluptas ratione blanditiis distinctio quam, maxime suscipit
            eligendi, quisquam quidem.</div>
          <button class="btn btn-outline-primary">Read More . . .</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>artikel3</h3>
          <hr>
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto mollitia exercitationem earum quasi
            a accusamus tempore voluptates doloremque debitis voluptas ratione blanditiis distinctio quam, maxime suscipit
            eligendi, quisquam quidem.</div>
          <button class="btn btn-outline-primary">Read More . . .</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>artikel3</h3>
          <hr>
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto mollitia exercitationem earum quasi
            a accusamus tempore voluptates doloremque debitis voluptas ratione blanditiis distinctio quam, maxime suscipit
            eligendi, quisquam quidem.</div>
          <button class="btn btn-outline-primary">Read More . . .</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>artikel3</h3>
          <hr>
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto mollitia exercitationem earum quasi
            a accusamus tempore voluptates doloremque debitis voluptas ratione blanditiis distinctio quam, maxime suscipit
            eligendi, quisquam quidem.</div>
          <button class="btn btn-outline-primary">Read More . . .</button>
        </div>
      </div>
    </div>
  </div>
</div>