<div class="container-fluid ">
  <div class="row text-center" style="display: flex; justify-content: center;height: 100vh">
    <div class="animatedParent" style="position: absolute;top: 40%">
      <p class="animated bounceInUp" style="color:white;font-weight: 900; letter-spacing: 5px; font-size: 36px">Bengkel Bubut Manunggal</p>
      <a class="btn btn-danger animated bounceInDown" href="https://api.whatsapp.com/send?phone=+6285781429272" style="text-decoration: none; color: white;padding: 10px 20px;">
        <strong>Contact Us</strong>
      </a>
    </div>
  </div>
</div>