<div class="container text-center animatedParent">
  <h1 class="mb-5">Pekerjaan Kami</h1>
  <div class="row">
    <div class="grid">
      <figure class="effect-bubba animated bounceInUp">
        <img src="../../assets/images/8.jpg" alt="img02" />
        <figcaption>
          <h2>Lorem
            <span>Ipsum</span>
          </h2>
          <p>Handy Crafted with profesional touch.</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-bubba animated bounceInUp">
        <img src="../../assets/images/8.jpg" alt="img16" />
        <figcaption>
          <h2>Lorem
            <span>Ipsum</span>
          </h2>
          <p>Profesional Builder for more over than 10 years and so.</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="grid">
      <figure class="effect-bubba animated bounceInDown">
        <img src="../../assets/images/8.jpg" alt="img02" />
        <figcaption>
          <h2>Lorem
            <span>Ipsum</span>
          </h2>
          <p>Powerful With well crafted and zero mistake.</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-bubba animated bounceInDown">
        <img src="../../assets/images/8.jpg" alt="img16" />
        <figcaption>
          <h2>Lorem
            <span>Ipsum</span>
          </h2>
          <p>Experienced with anyother things.</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>