<section id="services" class="py-5" style="background-color: rgba(250, 250, 250);">
  <div class="container text-center">
    <h1 class="mb-5">Servis Kami</h1>
    <div class="row animatedParent">
      <div class="col-xs-12 col-sm-6 col-md-4 animated fadeInRight ">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/1.png" alt="card image">
                  </p>
                  <h4 class="card-title">Centering Axle Housing</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Centering Axle Housing</h4>
                  <p class="card-text">Memperbaiki atau menggantikan Axle Housing Bengkok</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 animated  fadeInUp">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/2.png" alt="card image">
                  </p>
                  <h4 class="card-title">Gardan Mobil</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Gardan Mobil</h4>
                  <p class="card-text">Popok atau tambah daging dan bubut tempat ring atau bearing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 animated fadeInLeft">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/3.png" alt="card image">
                  </p>
                  <h4 class="card-title">Cylinder Head (Cop)</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Cylinder Head (Cop)</h4>
                  <p class="card-text">Melakukan popok selep dan mensetting klep</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 animated fadeInLeft">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/4.png" alt="card image">
                  </p>
                  <h4 class="card-title">Chassis Colt Diesel</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Chassis Colt Diesel</h4>
                  <p class="card-text">Klem chassis untuk chassis patah dan keropos, menyambung dan memotong chassis, meluruskan chassis bengkok.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 animated  fadeInDown">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/5.png" alt="card image">
                  </p>
                  <h4 class="card-title">Dump truck atau crane</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Dump truck atau crane</h4>
                  <p class="card-text">Perbaikan hidrolis, ganti seal hidrolis, press as ruth dan segitiga</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 animated fadeInRight">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="../../assets/images/6.png" alt="card image">
                  </p>
                  <h4 class="card-title">Mesin crusher (pemecah batu)</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Mesin crusher (pemecah batu)</h4>
                  <p class="card-text">Bongkar pasang, perbaikan as, roda gila, pembuatan housing sok bearing, mur, tutup bearing, pembuatan screen
                    (ayakan), pembuatan conveyor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>