<h1 class="pb-3">Kenapa Kami?</h1>
<section class="row text-center">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <p>Kami sudah berpengalaman bertahun-tahun dalam mengerjakan projek bla bla bla Kami sudah berpengalaman
          bertahun-tahun dalam mengerjakan projek bla bla bla</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <p>Kami mempunyai cabang di bla bla bla Kami sudah berpengalaman bertahun-tahun dalam mengerjakan projek bla
          bla bla</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <p>Harga kami bersaing bla bla bla Kami sudah berpengalaman bertahun-tahun dalam mengerjakan projek bla bla bla</p>
      </div>
    </div>
  </div>

</section>